@import "variable.css";
@import "reset.css";
/* Components */
@import "components/status-bar.css";
@import "components/Book-of-the-day.css";
@import "components/Searchbar.css";
@import "components/Top-Adventures.css";
@import "components/author.css";
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 100vh;
}

.wrapper {
  background-color: white;
  width: 340px;
}

.fa-star {
  color: var(--yellow);
}
