.nav-bar {
  position: fixed;
  bottom: 0;
  /* 포지션 fixed를 잡아주면 스크린 기준으로 위치를 고정시킬 수 있다 */
  width: 100%;
  padding: 15px var(--padding-space);
  background-color: var(--brown);
}
.nav-bar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__link {
  color: white;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 17px;
  bottom: 13px;
  animation: badgeflip 1s ease-in-out infinite;
}

@keyframes badgeflip {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(360deg) translateY(-10px);
  }
  100% {
    transform: none;
  }
}
