/* #no-mobile {
  position: absolute;
  z-index: 99;
  background-color: #e0be92;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 520px) {
  #no-mobile {
    display: none;
  }
} */
