.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  /* justify-content: space-between; */
  /* space-between의 경우 컨텐츠들이 서로 다른 너비를 가지고 있으면
    확실하게 딱 중앙에 컨텐츠가 오지 않는다는 단점이 있다. */
  justify-content: center;
}

.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 먼저 부모 박스를 flex하고 justfiy를 center한다
  그 다음에 모든 자식 요소들을 width: 33%로 해주고
  가운데에 오는 컨텐츠에 flex와 justify center한다
  이후 마지막 컨텐츠 (맨 오른쪽)에게 flex를 주고
  justfy를 flex-end를 주면 가운데 있어야할 컨텐츠는 정확히
  중앙에 오고 그걸 기준으로 나머지 간격이 벌어진다.
  이유는 모르지만 이렇게 작동하는 css-hack의 일종. */

.status-bar__column .fa-battery-quarter {
  margin: 0px 5px;
}
