.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  border: 3px solid var(--brown);
}

.user-component__title {
  margin-left: 20px;
  font-weight: 700;
  font-size: 23px;
}

.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
